.App {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.video-item {
  margin-bottom: 12px;
  margin-right: 12px;
}

.disbaled-video {
  background-color: black;
  width: 320px;
  height: 240px;
  /* height: 100%; */
}
