.App {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.video-item {
  margin-bottom: 20px;
  margin-right: 20px;
}

.disbaled-video {
  background-color: black;
  width: 400px;
  /* height: 100%; */
}
